@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

//variables
$primary-color: #C90F16;
$secondary-color: #16171A;
$color-white: #FFFFFF;
$color-black: #000000;
$section-bg: #F2EDEB;
$text-color: #696969;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'DM Sans', sans-serif;

body {
    font-family: $secondary-font;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 700;
    margin: 0;
    color: $secondary-color;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    &:hover {
        color: $primary-color;
    }   
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.bg-color {
    background-color: $section-bg;
}

@media (max-width: 767px) {
    .pt-120 {
        padding-top: 70px;
    }

    .pb-120 {
        padding-bottom: 70px;
    }
}


//header section start
.rp_header {
    z-index: 1;
    padding: 16px 0;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);

    &::before {
        content: ''; 
        position: absolute; 
        right: 0; 
        top: 0; 
        width: calc(56% + 60px); 
        height: 100%;
        background: $primary-color;
        z-index: -1;
        clip-path: polygon(45px 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.rp_header_logo {
    a {
        img {
            width: 300px;
        }
    }
}

.rp_header_boxes {
    gap: 40px;
}

.rp_icon_box {
    .rp_icon_wrapper {
        background: $color-white; 
        padding: 6px; 
        box-sizing: border-box;
        width: 60px; 
        height: 60px;
    }

    .rp_icon_text {
        h6 {
            font-size: 14px;
            font-weight: 600;
            color: $color-white;
        }
        p {
            font-size: 18px;
            color: $color-white;
            font-weight: 700;

            a {
                color: $color-white;
            }
        }
    }
}



@media (max-width: 1399px) {
    .rp_header {

        &::before {
            width: calc(58% + 60px); 
        }
        .container {
            max-width: 100%;
        }

        .rp_header_logo {
            a {
                img {
                    width: 250px;
                }
            }
        }

    }
}

@media (max-width: 1199px) {

    .rp_header_boxes {
        gap: 20px;
    }

    .rp_header {

        .rp_icon_box {
            .rp_icon_wrapper {
                width: 40px; 
                height: 40px;
                padding: 10px;
            }

            .rp_icon_text {
                p {
                    font-size: 16px;
                }
            }
        }


    }
}

@media (max-width: 991px) {

    .rp_header {
        &::before {
            display: none;
        }

        .rp_icon_box {
            .rp_icon_wrapper {
                width: 40px; 
                height: 40px;
                padding: 10px;
                box-shadow: 0 0 10px  rgba(0,0,0,0.1);
            }

            .rp_icon_text {
                h6 {
                    color: $secondary-color;
                }
                p {
                    font-size: 16px;
                    color: $secondary-color;
                    a {
                        color: $secondary-color;
                    }
                }
            }
        }


    }
}


//hero section start
.rp_hero_section {
    min-height: 780px;
    background-color: #F2EDEB;
    padding: 140px 10px;
    z-index: 1;

    .rp_hero_bg {
        position: absolute; 
        right: 0; 
        top: 0;
        width: calc(56% + 60px);  
        height: 100%; 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.rp_hero_box {
    padding: 85px 20px 85px 40px;
    background: $primary-color; 
    max-width: 1040px;
    margin-left: -50px;

    h6 {
        font-size: 28px; 
        font-weight: 700;
        color: $color-white;
        margin-bottom: 8px;
    }

    h1 {
        font-size: 70px;
        font-weight: 700;
        color: $color-white;
        margin-bottom: 20px;
    }
}

.rp_icon_list {
    li {
        display: flex; 
        align-items: start; 
        gap: 8px;
        font-size: 20px; 
        font-weight: 600;
        color: $color-white;
        margin-bottom: 10px;

        span {
            transform: translateY(2px);
        }
    }
}


@media (max-width: 1199px) {
    .rp_hero_section {

        .rp_hero_bg {
            display: none;
        }
    }

    .rp_hero_box {
        margin-top: 24px;
        margin-left: 0;
    }
}


@media (max-width: 767px) {

    .rp_hero_section {
        min-height: auto;
        padding: 80px 10px;
    }

    .rp_hero_box {
        padding: 85px 20px 85px 40px;
        margin-left: 0;
    }

    .rp_hero_box h6 {
        font-size: 20px;
    }
    .rp_hero_box h1 {
        font-size: 42px;
    }

    .rp_icon_list li {
        font-size: 18px;
    }
}

@media (max-width: 560px) { 

    .rp_hero_box {
        padding: 60px 24px;
    }

    .rp_hero_box h1 {
        font-size: 36px;
    }

}




.container-1570 {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 12px;
}

//feature section start
.rp_feature_section {
    padding: 40px 0 90px;
    background: $secondary-color;
}

.rp_ft_title {
    font-size: 24px; 
}

.rp_icon_box_vertical {
    span {
        color: $primary-color; 
        font-size: 32px;
    }

    h5 {
        font-size: 24px; 
        font-weight: 600; 
        font-family:  $secondary-font;
    }
}


@media (max-width: 1399px) {
    .rp_icon_box_vertical h5 {
        font-size: 20px;
    }
}



//service section start

.rp_service_section {
    background: #F2EDEB;
    padding: 120px 100px;
}
.rp_section_title {
    font-size: 48px; 
}

.rp_service_card {
    background: $color-white;
    .rp_card_thumbnail {
        .card_icon {
            width: 60px;  
            height: 60px; 
            background: $primary-color; 
            color: $color-white;
            display: inline-flex; 
            align-items: center; 
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            left: 24px; 
            top: 24px;
        }
    }

    .rp_card_content {
        padding: 24px;
        h5 {
            font-size: 24px;
        }
        p {
            font-weight: 500;
        }
    }
}

.rp_about_content {
    & > p {
        font-size: 18px;
    }

    .rp_icon_list {
        li {
            color: $secondary-color;
            .icon_list_icon {
                color: $primary-color;
            }
        }
    }
} 

.rp_solution_title {
    p {
        font-size: 24px; 
        font-weight: 700; 
        font-family: $primary-font;
    }
}


.rp_outline_btn {
    padding: 20px 36px;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 16px;  
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;

    svg {
        transform: translateY(-2px);
        path {
            fill: $primary-color;
            transition: 0.3s;
        }
    }

    &:hover {
        background: $primary-color; 
        color: $color-white;

        svg {
            path {
                fill: $color-white;
            }
        }
    }
}



.rp_sl_card {
    overflow: hidden;
    .rp_sl_card_title {
        padding: 24px 12px;
        position: absolute;
        bottom:0; 
        left: 0;
        background: $primary-color;
        width: 100%;
        text-align: center; 
        color: $color-white;
        transition: 0.2s;
        transition-delay: 0.3s;
        h5 {
            color: $color-white;
            font-size: 24px;
        }
    }

    .rp_sl_card_content {
        position: absolute;
        left: 0; 
        top: 100%; 
        width: 100%; 
        height: 100%;
        background: $primary-color;
        display: flex;
        align-items: center; 
        justify-content: center;
        transition: 0.3s;
    }

    &:hover {
        .rp_sl_card_title {
            bottom: -100px;
            transition-delay: 0.2s;
        }
        .rp_sl_card_content {
            transition-delay: 0.35s;
            top: 0; 
        }
    }
}


@media (max-width: 1800px) {
    .rp_service_section {
        padding: 120px 40px;
    }
}

@media (max-width: 1600px) {

    .rp_service_section {
        padding: 120px 20px;
    }

    .rp_services_wrapper {
        flex-wrap: wrap;
    }

    .rp_service_card {
        max-width: 300px;
    }
}

@media (max-width: 740px) {

    .rp_service_section {
        padding: 70px 12px;
    }

    .rp_service_card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .rp_section_title {
        font-size: 42px;
    }
}






//advantage section start
.rp_advantage_section {
    padding: 220px 0 120px;
    background: $color-white;
}

.rp_advantage_content {
    .rp_icon_list {
        li {
            color: $secondary-color;
            span {
                color: $primary-color;
            }
        }
    }
}

.rp_video_box {
    max-width: 840px;
    position: absolute;
    right: 0; 
    bottom: 0;
    border-top: 1px solid $primary-color;
    border-left: 1px solid $primary-color;

    .rp_video_play_btn {
        width: 160px; 
        height: 160px; 
        border: 2px solid $primary-color;
        border-radius: 50%;
        display: inline-flex; 
        align-items: center; 
        justify-content: center;
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%);
        transition: 0.3s;

        span {
            width: 90px; 
            height: 90px; 
            background: $primary-color; 
            color: $color-white;
            display: inline-flex; 
            align-items: center; 
            justify-content: center;
            border-radius: 50%;
            font-size: 32px;
            outline: 20px solid rgba($primary-color, 0.2);
        }
    }
}


@media (max-width: 1680px) {
    .rp_advantage_section {
        .container {
            max-width: 100%;
        }
    }

    .rp_advantage_content {
        max-width: 650px;
    }
}

@media (max-width: 1500px) {

    .rp_advantage_section {
        padding: 130px 0 120px;
    }

    .rp_video_box {
        max-width: 700px;
    }
}

@media (max-width: 1399px) {

    .rp_advantage_section {
        padding: 100px 0 80px;
    }

    .rp_video_box {
        max-width: 600px;
    }
}

@media (max-width: 1199px) {

    .rp_advantage_section {
        padding: 100px 0 80px;
    }

    .rp_video_box {
        position: relative;
        max-width: 100%; 
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .rp_advantage_section {
        padding: 70px 0;
    }
 }


//info section start
.rp_info_section {
   .rp_info_image {
        max-width: 640px;
        position: absolute;
        left: 0; 
        top: 0;
        height: 100%; 
        object-fit: cover;
   }
}


.rp_info_content {
    padding: 24px;
    background: $section-bg;
    position: relative; 
    z-index: 2;
    .rp_icon_list {
        display: flex; 
        gap: 20px;
        flex-wrap: wrap;

        li {
            width: calc(50% - 10px);
            font-size: 18px; 
            font-weight: 500;
            color: $text-color;
            margin-bottom: 0;

            span {
                color: $primary-color;
                transform: translateY(1px);
            }
        }
    }
}

@media (max-width: 1199px) {
    .rp_info_section {
        .rp_info_image {
            position: initial;
            margin: 0 auto; 
            display:  block;
            max-width: 100%;
            padding: 0 40px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .rp_info_section {
        .container {
            max-width: 100%;
        }
    }

    .rp_info_section {
        .rp_info_image {
            padding: 0 20px;
            margin-bottom: 20px;
        }
    }

    .rp_info_content .rp_icon_list {
        flex-wrap: wrap;
    }

    .rp_info_content .rp_icon_list li {
        width: 100%;
    }
}

//call to action start
.rp_call_to_action { 
    background: $primary-color; 
    padding: 70px 0;
}

.rp_white_btn {
    background: $color-white;
    color: $primary-color; 
    text-transform: uppercase;
    font-weight: 700; 
    padding: 20px 36px;
    font-size: 16px;
    transition: 0.3s;

    &:hover {
        background: $secondary-color; 
        color: $color-white;
    }
}

//blog section start
.rp_blog_card {
    .date {
        i {
            color: $primary-color;
        }
    }

    h4 {
        transition: 0.3s;
        &:hover {
            color: $primary-color;
        }
    }

    .rp_explore_btn {
        text-transform: uppercase; 
        font-size: 16px; 
        font-weight: 700; 
        position: relative; 
        color: $primary-color; 

        &::before {
            content: ''; 
            position: absolute; 
            left: 0; 
            bottom: -3px; 
            width: 100%; 
            height: 2px; 
            background: $primary-color; 
            transition: 0.3s;
        }

        &:hover {
            &::before {
                width: 40px;
            }
        }
    }
}


//brand section start
.rp_brand_section {
    padding: 80px 0;

    .rp_brand_title {
        text-align: center;
        h5 {
            display: inline-block;
            position: relative; 

            &::before {
                content: ''; 
                position: absolute; 
                width: 430px;
                height: 1px; 
                background: #D8DDE1;
                left: -440px;
                top: 20px;
            }
            
            &::after {
                content: ''; 
                position: absolute; 
                width: 430px;
                height: 1px; 
                background: #D8DDE1;
                right: -440px;
                top: 15px;
            }
        }
    }
}


.rp_brand_slider {
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-slide {
        display: inline-block;
        width: 236px;
    }
    .rp_brand_logo {
        display: inline-block;
        background: $color-white;
        padding: 20px 40px;
        border: 1px solid #D8DDE1;
        border-radius: 100px;
    }
}



//testimonial section start
.rp_testimonial_box {
    background: $secondary-color;
    padding: 40px;
}

.rp_testimonial_single_box {
    .rpt_single_reviews {
        gap: 3px;
        li {
            color: #FEC51B;

        }
    }

    p {
        font-size: 18px; 
        font-weight: 500;
        color: $color-white;
        font-weight: $primary-font;
    }
}


.rpt_author_box {
    background: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(216, 221, 225, 0.45);
    cursor: pointer;
    display: inline-block;

    h4 {
        font-size: 24px;
        color: $color-white;
    }

    .designation {
        padding-left: 40px;
        font-size: 16px; 
        font-weight: 500;
        color: $primary-color;
        position: relative;
        &::before {
            content: ''; 
            position: absolute; 
            left: 0; 
            top: 50%; 
            width: 30px; 
            height: 1px; 
            background: $primary-color;
            transform: translateY(-50%);
        }
    }
}


.rpt_author_slider {
    padding: 0 1px;

    .swiper-slide {
        display: inline-block;
        width: initial;
    }

    .swiper-slide-thumb-active {
        .rpt_author_box {
            background: $primary-color;
            border-color: $primary-color;

            .designation {
                color: $color-white;
                &::before {
                    background: $color-white;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .rp_testimonial_single_box {
        flex-wrap: wrap;
    }
}




//contact box section start

.rp_contact_box {
    padding: 40px 24px;
    border-radius: 10px;
    border: 1px solid rgba(22, 23, 26, 0.2);
    text-align: center;

    .icon_wrapper {
        width: 80px; 
        height: 80px; 
        background: $primary-color; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center;
        border-radius: 50%;
        font-size: 24px;
        color: $color-white;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        font-weight: 500; 
    }

    &:hover {
        .icon_wrapper {
            background: $secondary-color;
            color: $color-white;
        }
    }
}


//contact section start

.rp_contact_area {
    background: $primary-color;
    padding: 60px;
    h3 {
        font-size: 36px;
    }
}

.rp_contact_form {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    label {
        width: calc(50% - 10px);
        color: $color-white;
        input {
            display: block; 
            width: 100%;
            padding: 20px 24px;
            border: 0;
            outline: 0;
            border-radius: 10px;
            margin-top: 8px;
        }
    }

    textarea {
        display: block; 
        width: 100%;
        padding: 20px 24px;
        border: 0;
        outline: 0;
        border-radius: 10px;
        margin-top: 8px;
    }
}


@media (max-width: 767px) {

    .rp_contact_area {
        padding: 24px;
    }
    .rp_contact_form label {
        width: 100%;
    }
}

//faq section start
.rp_accordion {
    .accordion-item {
        border: 1px solid #D8DDE1;

        + .accordion-item {
            margin-top: 24px;
        }
        
        .accordion-header {
            a {
                padding: 15px 24px 15px 20px;
                font-size: 24px;
                color: $secondary-color;
                font-weight: $primary-font;
                display: block;
                width: 100%;
                font-weight: 700;
                position: relative;
                background: $primary-color;
                color: $color-white;
                transition: 0.3s;

                &::after {
                    content: '-'; 
                    position: absolute; 
                    right: 20px;
                    top: 22px;
                    width: 18px; 
                    height: 18px; 
                    border-radius: 50%; 
                    font-size: 12px; 
                    line-height: 6px;
                    background: $color-white;
                    color: $primary-color;
                    display: inline-flex; 
                    align-items: center; 
                    justify-content: center;
                    transition: 0.3s;
                }

                &.collapsed {
                    background: $color-white; 
                    color: $secondary-color;
                    &::after {
                        content: '+';
                        background: $primary-color;
                        color: $color-white;
                    }
                }
            }
        }

        .accordion-collapse {
            border-top: 1px solid #D8DDE1;
            transition: 0.3s;
            background: $primary-color;
            color: $color-white;
        }
    }
    
}


//footer section start
.rp_footer_section {
    background: $secondary-color;
}

.rp_footer_widget {
    h4 {
        color: $color-white;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .rp_footer_info {
        font-size: 18px; 
        font-weight: 500;
        color: $color-white;
    }

    .rp_footer_mail {
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        transition: 0.3s; 

        &:hover {
            color: $color-white;
            opacity: 0.6;
        }
    }

    .rp_footer_menu {
        li {
            a {
                font-size: 18px; 
                font-weight: 500;
                color: $color-white;
                transition: 0.3s;
                position: relative;
                display: block;

                &::before {
                    content: '/';
                    opacity: 0;
                    position: absolute;
                    left: 0; 
                    top:  0;
                    color: $color-white;
                    transition: 0.3s;
                }

                &:hover {
                    padding-left: 10px;
                    color: rgba($color-white, 0.6);
                    &::before {
                        opacity: 0.7;
                    }
                }
            }

            + li {
                margin-top: 20px;
            }
        }
    }

    .rp_footer_icon_list {
        li {
            + li {
                margin-top: 24px;
            }
            .icon_wrapper {
                width: 50px; 
                height: 50px;  
                display: inline-flex; 
                align-items: center; 
                justify-content: center;
                border-radius: 4px;
                font-size: 18px;
                color: $color-white;
                border: 1px solid rgba(216, 221, 225, 0.3);
            }
            p {
                font-size: 18px; 
                font-weight: 500; 
                color: $color-white;
            }
        }
    }
}

.rp_footer_copyright {
    margin-top: 100px;
    background: $primary-color;
    padding: 30px 0;

    p {
        font-size: 18px;
    }
}